@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: headingFont;
    src: url(../public/JetBrainsMono-Regular.ttf);
}

body {
    font-family: 'Noto Serif', serif;
    @apply text-gray-dark;
    @apply text-lg;
}

h1,
h2,
h3,
h4 {
    font-family: headingFont;
}